:root {
  --primary: #224c8d;
  --background: #FFFFFF;
  --foreground: #000000;
  --text-primary: #FFFFFF;
  --text-secondary: #000000;
  font-family: Helvetica, sans-serif;
}

.btn {
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: none;
  border-radius: 100vmax;
  background-color: #e8e8e8;
  display: flex;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  font-weight: 600;
  font-family: inherit;
  place-content: center;
  margin-block: auto;
  padding: 0.8rem 2rem;
  text-decoration: none;
}
.btn svg {
  width: 25px;
  height: 25px;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--text-primary);
}

@media (max-width: 996px) {
  #whatsApp {
    display: none;
  }
}
#whatsApp {
  grid-area: whatsApp;
}

@media (max-width: 996px) {
  #navToggler {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    display: grid !important;
  }
}
#navToggler {
  border: none;
  background: transparent;
  color: #FFFFFF;
  display: none;
  place-content: center;
  grid-area: navToggler;
}
#navToggler svg {
  width: 40px;
  height: 40px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  background-color: var(--background);
  color: var(--foreground);
}

body {
  min-height: 100vh;
}

strong {
  font-weight: bold;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

@media (min-width: 996px) {
  .navigation {
    align-items: center;
    display: flex !important;
  }
  .navigation .navbar {
    margin: 0 !important;
    box-shadow: none !important;
    background-color: transparent !important;
    display: flex !important;
    padding-block: 0 !important;
  }
  .navigation .navbar .nav {
    display: flex !important;
  }
  .navigation .navbar .nav li > a {
    color: var(--text-primary) !important;
    padding: 0.8rem 1rem;
  }
}
.navigation {
  color: var(--foreground);
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "logo navToggler" "navbar navbar" "whatsApp whatsApp";
}
.navigation .navbar {
  box-shadow: 0 0 2px;
  border-radius: 1vmax;
  background-color: var(--background);
  display: none;
  grid-area: navbar;
  padding: 1rem;
  margin-bottom: 1rem;
}
.navigation .navbar .nav {
  display: grid;
  padding: 0;
}
.navigation .navbar .nav li {
  list-style-type: none;
  list-style: none;
}
.navigation .navbar .nav li a {
  color: inherit;
  display: block;
  padding-block: 1rem;
  text-decoration: none;
}
.navigation .navbar .nav li a:hover {
  text-decoration: underline;
  text-underline-offset: 0.35rem;
  text-decoration-thickness: 0.15rem;
}

/**
*   Colors
**/
.c-prime {
  color: var(--primary);
}

/**
*   Logo
**/
.logo {
  color: var(--text-primary);
  margin-right: auto;
  font-weight: 700;
  font-size: 50px;
  font-family: Helvetica, sans-serif;
  grid-area: logo;
  text-transform: uppercase;
}

/**
*   Contaienrs
**/
@media (max-width: 996px) {
  .container {
    width: 100% !important;
  }
}
.container {
  max-width: 1320px;
  padding-inline: 1rem;
  overflow: hidden;
}

/**
*   Cards
**/
.card-tray-grid {
  align-items: center;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-block: 4rem;
}

.card-tray-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-block: 4rem;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .card {
    max-width: 16em !important;
  }
}
@media screen and (max-width: 768px) and (max-width: 600px) {
  .card {
    max-width: 11em !important;
  }
}
.card-title {
  font-size: clamp(1rem, 10vw, 20px);
  font-weight: bold;
}

.card-subtitle {
  font-size: clamp(0.8rem, 10vw, 15px);
  font-weight: bold;
  margin-block: 0.2rem;
}

.card {
  max-width: 250px;
  border-top-left-radius: 3vmax;
  border-top-right-radius: 1vmax;
  border-bottom-left-radius: 1vmax;
  border-bottom-right-radius: 1vmax;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.card .card-header {
  display: block;
  margin-bottom: 1rem;
}
.card .card-header svg {
  width: 100px;
  height: 100px;
  border-top-left-radius: 2vmax;
  border-top-right-radius: 1vmax;
  border-bottom-left-radius: 1vmax;
  border-bottom-right-radius: 1vmax;
  padding: 1rem;
}
.card .card-body {
  display: block;
}
.card .card-body h3 {
  font-weight: 600;
}
@media (max-width: 600px) {
  .card .card-body p {
    display: none !important;
  }
}
.card .card-body p {
  padding-block: 1rem;
}
.card .card-footer {
  display: block;
}
.card .card-footer label {
  color: rgba(0, 0, 0, 0.05);
  font-size: 4rem;
  font-weight: bold;
}

.card:hover {
  background-color: orange;
  cursor: pointer;
}
.card:hover .card-header > svg {
  background-color: #FFFFFF;
}
.card:hover .card-footer > label {
  color: #224c8d;
  text-shadow: 5px 5px 0px #FFFFFF;
}

.member-card {
  width: 295px;
  max-height: 300px;
  box-shadow: 0 0 2px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-inline: auto;
}
.member-card .member-picture {
  max-width: inherit;
  height: 300px;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}
.member-card .member-info {
  max-width: 90%;
  border: none;
  box-shadow: 0 0 1px;
  bottom: -2rem;
  left: 0;
  right: 0;
  background-color: var(--background);
  border-radius: 15px;
  display: grid;
  margin: auto;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  margin-inline: 1rem;
  position: absolute;
  text-align: center;
  padding-top: 1.2rem;
}
.member-card .member-info .member-social {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  position: absolute;
  top: -1.2rem;
  right: 0;
  left: 0;
}
.member-card .member-info .member-social svg {
  width: 35px;
  height: 35px;
  border-radius: 100vmax;
  background-color: var(--primary);
  fill: var(--text-primary);
  padding: 0.5rem;
}

/**
*   Display
**/
.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

/**
*   Padding and Margin
**/
.my-auto {
  margin-block: auto;
}

.mx-auto {
  margin-inline: auto;
}

.py-1 {
  padding-block: 1rem;
}

.px-1 {
  padding-inline: 1rem;
}

/**
*   Titles
**/
.title {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 1.6rem;
  margin-block: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  font-variant: small-caps;
  position: relative;
}

.title::before {
  content: "";
  width: 40px;
  height: 0.3rem;
  display: flex;
  background-color: orange;
  margin: auto;
  position: absolute;
  right: 0;
  left: 0;
  top: 1.7rem;
  bottom: 0;
  z-index: 1;
}

.title::after {
  content: "";
  width: 120px;
  height: 0.1rem;
  display: flex;
  background-color: rgba(0, 0, 0, 0.1);
  margin: auto;
  position: absolute;
  right: 0;
  left: 0;
  top: 1.7rem;
  bottom: 0;
}

.subtitle {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

html,
body {
  scroll-behavior: smooth;
  transition: 1s;
}

.header {
  width: 100%;
  background: transparent;
  position: absolute;
}

.hero {
  width: 100%;
  min-height: 50vh;
  max-height: 800px;
  position: relative;
  z-index: -1;
}
.hero img {
  width: 100%;
  min-height: inherit;
  max-height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom right;
     object-position: bottom right;
}
.hero #heroContainer {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: grid;
  place-content: cemter;
  top: 58%;
  bottom: 50%;
  left: 0;
  right: 0;
  position: absolute;
}
.hero #heroContainer #heroText {
  max-width: 65ch;
  display: flex;
  flex-direction: column;
}
.hero #heroContainer #heroText #heroTitle {
  color: #FFFFFF;
  font-size: clamp(1rem, 9.5vw, 3rem);
  font-weight: 600;
}
.hero #heroContainer #heroText #heroSlug {
  max-width: 35ch;
  color: #FFFFFF;
  font-size: clamp(0.8rem, 6vw, 1rem);
}
.hero #heroContainer #heroText .btnContainer {
  display: flex;
  gap: 1rem;
}
@media (max-width: 768px) {
  .hero #heroContainer #heroText .clients {
    display: none !important;
  }
}
.hero #heroContainer #heroText .clients {
  display: block;
}
.hero #heroContainer #heroText .clients h6 {
  align-items: center;
  color: #FFFFFF;
  display: flex;
  gap: 0.5rem;
  font-size: 12px;
}
.hero #heroContainer #heroText .clients h6 span {
  width: 2rem;
  height: 0.05rem;
  background-color: #FFFFFF;
  display: flex;
}
.hero #heroContainer #heroText .clients #clientLogos {
  display: flex;
}
.hero #heroContainer #heroText .clients #clientLogos .client-logo {
  width: 150px;
  height: 50px;
  display: block;
}
.hero #heroContainer #heroText .clients #clientLogos .client-logo img,
.hero #heroContainer #heroText .clients #clientLogos .client-logo svg {
  -o-object-fit: contain;
     object-fit: contain;
  fill: #FFF;
}

.hero::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
}

section.about {
  color: var(--foreground);
  display: block;
  margin-block: 2rem;
}
section.about .aboutContent {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
section.about .aboutContent #about-contentLeft,
section.about .aboutContent #about-contentRight {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
section.about .aboutContent #about-contentLeft > ol {
  line-height: 2;
  padding-inline: 1rem;
}
section.about .aboutContent #about-contentRight > button {
  margin: 0;
}

section.services {
  display: block;
}
section.services #servicesContainer {
  display: flex;
  flex-direction: column;
}
section.services #servicesContainer #servicesHeaderText {
  display: block;
  padding-block: 1rem;
  text-align: center;
}

section.portfolio {
  background-color: var(--primary);
  color: #FFFFFF;
  padding-block: 3rem;
  text-align: center;
}
section.portfolio .filters {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}
section.portfolio .filters .active {
  background-color: orange;
}
@media (max-width: 600px) {
  section.portfolio .projects-grid {
    padding-inline: 2em;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
  }
  section.portfolio .projects-grid .project-item {
    scroll-snap-align: center;
  }
}
section.portfolio .projects-grid {
  display: flex;
  gap: 2rem;
  padding-block: 2rem;
  overflow: auto;
}
section.portfolio .projects-grid .project-item {
  width: 320px;
  height: 240px;
  border-radius: 15px;
  background-color: aquamarine;
  display: grid;
}
section.portfolio .projects-grid .project-item a {
  width: inherit;
  height: inherit;
  border-radius: inherit;
}
section.portfolio .projects-grid .project-item a img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

section.team {
  display: block;
  margin-block: 4rem;
}

.footer {
  box-shadow: 0 0 1px;
  display: flex;
  flex-direction: column;
  font-weight: 500;
}
.footer #footer__Container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-block: 4rem;
}
.footer #footer__Container h6 {
  font-weight: bold;
  margin-bottom: 1rem;
}
.footer #footer__Container p {
  line-height: 1.5;
}
.footer #footer__Container .company__Info {
  display: flex;
  flex-direction: column;
}
.footer #footer__Container .company__Info h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.footer #footer__Container .company__Info p {
  font-size: 14px;
  max-width: inherit;
  margin-bottom: 1rem;
  line-height: 2;
}
.footer #footer__Container .company__Info label {
  font-size: 14px;
  line-height: 2;
}
.footer #footer__Container .footer__Nav {
  display: flex;
  flex-direction: column;
}
.footer #footer__Container .footer__Nav h6 {
  margin-bottom: 1rem;
}
.footer #footer__Container .footer__Nav ul {
  display: block;
}
.footer #footer__Container .footer__Nav ul li {
  list-style-type: none;
  list-style: none;
}
.footer #footer__Container .footer__Nav ul li a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: var(--text-secondary);
  display: flex;
  text-decoration: none;
  padding-block: 0.5rem;
}
.footer #footer__Container .social {
  display: block;
}
.footer #footer__Container .social p {
  margin-bottom: 1rem;
}
.footer #footer__Container .social .social__Container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.footer #footer__Container .social .social__Container svg {
  width: 48px !important;
  height: 48px !important;
  border-radius: 100vmax;
  background-color: var(--primary);
  fill: #FFFFFF;
  padding: 0.5rem;
}
.footer .copyright {
  width: 100%;
  display: flex;
  background-color: var(--primary);
  color: #FFFFFF;
  padding: 1rem;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */