@import 'sass/base/base';
@import 'sass/components/buttons';
@import 'sass/components/links';
@import 'sass/generic/normalize';
@import 'sass/components/navigation';
@import 'sass/components/utilities';

html,
body {
    font-size: 16px;
    scroll-behavior: smooth;
    transition: 1s;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    grid: auto / 1em 1fr 1em;
    min-height: 100%;
}

.navigation-float {
    width: 100%;
    height: max-content;
    z-index: 2;
}

.sticky {
    max-width: 100% !important;
    border-bottom: .2rem solid var(--foreground);
    background-color: rgba($color: #ffffff, $alpha: 0.8);
    backdrop-filter: blur(8px);
    position: fixed !important;
    top: 0;
    transition: 700ms ease-in-out;

    .logo {
        color: var(--text-secondary);
    }

    #navToggler {
        color: var(--text-secondary);
    }

    .navbar>.nav {
        display: flex !important;

        li>a {
            color: var(--text-secondary) !important;
            padding: 0.8rem 1rem;
        }
    }
}


.header {
    display: flex;
    border-bottom: 2px solid rgba($color: #000000, $alpha: 0.1);
    position: relative;
    justify-content: center;
}

#header-main {
    width: 100%;
    min-height: 50ch;
    max-height: 800px;
    position: relative;

    img {
        width: 100%;
        min-height: inherit;
        max-height: inherit;
        object-fit: cover;
        object-position: bottom right;
    }

    .hero {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 1;

        #heroContainer {
            height: 100%;
            align-items: center;
            display: grid;

            #heroText {
                max-width: 65ch;
                display: flex;
                flex-direction: column;

                #heroTitle {
                    color: #FFFFFF;
                    font-size: clamp(1rem, 9.5vw, 3rem);
                    font-weight: 600;
                }

                #heroSlug {
                    max-width: 55ch;
                    color: #FFFFFF;
                    font-size: clamp(.8rem, 6vw, 1rem);
                    line-height: 1.4;
                }

                .btnContainer {
                    display: flex;
                    gap: 1rem;
                }

                @media (max-width: 768px) {
                    .clients {
                        display: none !important;
                    }
                }

                .clients {
                    display: block;

                    h6 {
                        align-items: center;
                        color: #FFFFFF;
                        display: flex;
                        gap: .5rem;
                        font-size: 12px;

                        span {
                            width: 2rem;
                            height: .05rem;
                            background-color: #FFFFFF;
                            display: flex;
                        }
                    }

                    #clientLogos {
                        display: flex;

                        .client-logo {
                            width: 150px;
                            height: 50px;
                            display: block;

                            img,
                            svg {
                                object-fit: contain;
                                fill: #FFF;
                            }
                        }
                    }

                }
            }
        }
    }

}

#header-main::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
}

.content {
    padding-block: 3rem;
}

section.about {
    color: var(--foreground);
    display: block;
    padding-block: 3rem;

    .aboutContent {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        #about-contentLeft,
        #about-contentRight {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

        #about-contentLeft>ol {
            line-height: 2;
            padding-inline: 1rem;
        }

        #about-contentRight>button {
            margin: 0;
        }
    }
}

section.services {
    display: block;
    padding-block: 3rem;

    #servicesContainer {
        display: flex;
        flex-direction: column;

        #servicesHeaderText {
            display: block;
            padding-block: 1rem;
            text-align: center;
        }
    }
}

section.portfolio {
    background-color: var(--primary);
    color: #FFFFFF;
    padding-block: 3rem;
    text-align: center;

    .filters {
        display: flex;
        gap: 1rem;
        justify-content: center;
        margin-top: 1rem;

        .active {
            background-color: orange;
        }

    }

    @media (max-width:600px) {
        .projects-grid {
            padding-inline: 2em;
            -ms-scroll-snap-type: x mandatory;
            scroll-snap-type: x mandatory;

            .project-item {
                scroll-snap-align: center;
            }
        }
    }

    .projects-grid {
        display: flex;
        gap: 2rem;
        padding-block: 2rem;
        overflow: auto;

        .project-item {
            width: 320px;
            height: 240px;
            border-radius: 15px;
            background-color: aquamarine;
            display: grid;

            a {
                width: inherit;
                height: inherit;
                border-radius: inherit;

                img {
                    width: inherit;
                    height: inherit;
                    border-radius: inherit;
                    object-fit: cover;
                }

            }
        }
    }
}

section.team {
    display: block;
    padding-block: 3rem;
}

.footer {
    box-shadow: 0 0 1px;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    margin-top: auto;

    #footer__Container {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        margin-block: 4rem;

        h6 {
            font-weight: bold;
            margin-bottom: 1rem;
        }

        p {
            line-height: 1.5;
        }

        .company__Info {
            display: flex;
            flex-direction: column;

            h4 {
                font-size: 1.5rem;
                margin-bottom: 1rem;
            }

            p {
                font-size: 14px;
                max-width: inherit;
                margin-bottom: 1rem;
                line-height: 2;
            }

            label {
                font-size: 14px;
                line-height: 2;
            }

        }

        .footer__Nav {
            display: flex;
            flex-direction: column;

            h6 {
                margin-bottom: 1rem;
            }

            ul {
                display: block;

                li {
                    list-style-type: none;
                    list-style: none;

                    a {
                        width: max-content;
                        color: var(--text-secondary);
                        display: flex;
                        text-decoration: none;
                        padding-block: .5rem;
                    }
                }
            }
        }

        .social {
            display: block;

            p {
                margin-bottom: 1rem;
            }

            .social__Container {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;

                svg {
                    width: 48px !important;
                    height: 48px !important;
                    border-radius: 100vmax;
                    background-color: var(--primary);
                    fill: #FFFFFF;
                    padding: .5rem;
                }
            }
        }

    }

    .copyright {
        width: 100%;
        display: flex;
        background-color: var(--primary);
        color: #FFFFFF;
        padding: 1rem;
        justify-content: center;
    }
}

/**
*   Portfolio Page Customization Section
**/
section#projects-gallery {
    background-color: var(--background);

    h1 {
        display: block;
        font-size: clamp(1.5rem, 10vw, 3rem);
        font-weight: 600;
        font-family: Helvetica, sans-serif;
        text-align: center;
        margin-block: 1rem;
    }

    p {
        text-align: center;
        margin-block: 2rem;
    }

    #gallery {
        display: block;

        .live,
        .practice {
            display: block;

            h2 {
                font-size: 1.8rem;
                font-weight: bold;
                margin-block: 2rem;
                position: relative;
                text-align: center;
            }

            h2::before {
                content: "";
                width: 40px;
                height: 0.3rem;
                display: flex;
                background-color: orange;
                position: absolute;
                right: 0;
                left: 0;
                margin: auto;
                top: 2rem;
                bottom: 0;
                z-index: 1;
            }

            h2::after {
                content: "";
                width: 120px;
                height: 0.1rem;
                display: flex;
                background-color: rgba($color: #000000, $alpha: 0.1);
                position: absolute;
                right: 0;
                left: 0;
                margin: auto;
                top: 2rem;
                bottom: 0;
            }
        }
    }
}

/**
*   Our Team Page Customization Section
**/
section.members {
    display: block;
}

.members_container {
    display: block;
}