.viewmore_link {
    width: max-content;
    color: orange;
    align-items: center;
    display: flex;
    font-weight: bold;
    margin: 0 !important;
    text-decoration: none;
    letter-spacing: .5px;
}

.viewmore_link:hover {
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    text-decoration-thickness: 0.15rem;
}

.viewmore_link::after {
    content: url("/assets/icons/211620_b_right_arrow_icon.svg");
    width: 25px;
    height: 25px;
    display: block;
}