/**
*   Colors
**/
.c-prime {
    color: var(--primary);
}

/**
*   Logo
**/
.logo {
    color: var(--text-primary);
    margin-right: auto;
    font-weight: 700;
    font-size: 50px;
    font-family: Helvetica, sans-serif;
    grid-area: logo;
    text-transform: uppercase;

    a {
        text-decoration: none;
        color: inherit;
    }
}

/**
*   Contaienrs
**/
@media (max-width:996px) {
    .container {
        width: 100% !important;
    }
}

.container {
    max-width: 1320px;
    padding-inline: 1rem;
    overflow: hidden;
}

/**
*   Cards
**/

.card-tray-grid {
    align-items: center;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-block: 4rem;
}

.card-tray-flex {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    margin-block: 4rem;
    justify-content: space-between;

}

@media screen and (max-width: 768px) {
    .card {
        max-width: 16em !important;
    }

    @media (max-width: 600px) {
        .card {
            max-width: 11em !important;
        }
    }
}

.card-title {
    font-size: clamp(1rem, 10vw, 20px);
    font-weight: bold;
}

.card-subtitle {
    font-size: clamp(0.8rem, 10vw, 15px);
    font-weight: bold;
    margin-block: .2rem;
}

.card {
    max-width: 250px;
    border-top-left-radius: 3vmax;
    border-top-right-radius: 1vmax;
    border-bottom-left-radius: 1vmax;
    border-bottom-right-radius: 1vmax;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;

    .card-header {
        display: block;
        margin-bottom: 1rem;

        svg {
            width: 100px;
            height: 100px;
            border-top-left-radius: 2vmax;
            border-top-right-radius: 1vmax;
            border-bottom-left-radius: 1vmax;
            border-bottom-right-radius: 1vmax;
            //background-color: orange;
            padding: 1rem;
        }
    }

    .card-body {
        display: block;

        h3 {
            font-weight: 600;
        }

        @media (max-width: 600px) {
            p {
                display: none !important;
            }
        }

        p {
            padding-block: 1rem;
        }
    }

    .card-footer {
        display: block;

        label {
            color: rgba($color: #000000, $alpha: 0.05);
            font-size: 4rem;
            font-weight: bold;
        }
    }
}

.card:hover {
    background-color: orange;
    cursor: pointer;

    .card-header>svg {
        background-color: #FFFFFF;
    }

    .card-footer>label {
        color: #224c8d;
        text-shadow: 5px 5px 0px #FFFFFF;

    }
}

//Member Cards
.member-card {
    width: 295px;
    max-height: 300px;
    box-shadow: 0 0 2px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-inline: auto;

    .member-picture {
        max-width: inherit;
        height: 300px;
        border-radius: 15px;
        object-fit: cover;
        object-position: top center;
    }

    .member-info {
        max-width: 90%;
        border: none;
        box-shadow: 0 0 1px;
        bottom: -2rem;
        left: 0;
        right: 0;
        background-color: var(--background);
        border-radius: 15px;
        display: grid;
        margin: auto;
        padding-block: .5rem;
        padding-inline: 1rem;
        margin-inline: 1rem;
        position: absolute;
        text-align: center;
        padding-top: 1.2rem;

        .member-social {
            display: flex;
            gap: .5rem;
            justify-content: center;
            position: absolute;
            top: -1.2rem;
            right: 0;
            left: 0;

            svg {
                width: 35px;
                height: 35px;
                border-radius: 100vmax;
                background-color: var(--primary);
                fill: var(--text-primary);
                padding: .5rem;
            }
        }

    }
}

/**
*   Display
**/
.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

/**
*   Gallery Grid
**/
@media (max-width: 600px) {
    .gallery-grid {
        grid-template-columns: repeat(auto-fill, minmax(125px, 1fr)) !important;
    }
}

.gallery-grid {
    display: grid;
    border-collapse: collapse;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    .grid-item {
        max-width: inherit;
        min-height: inherit;
        border: 1px solid rgba($color: #000000, $alpha: 0.1);
        display: grid;
        place-content: center;
        overflow: hidden;

        img {
            transition: ease-in 500ms;
        }
    }

    .grid-item>img:hover {
        transform: scale(1.1);
    }
}

/**
*   Padding and Margin
**/
.my-auto {
    margin-block: auto;
}

.mx-auto {
    margin-inline: auto;
}

.py-1 {
    padding-block: 1rem;
}

.px-1 {
    padding-inline: 1rem;
}

/**
*   Titles
**/
.title {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 1.6rem;
    margin-block: 2rem;
    padding-bottom: 1rem;
    text-align: center;
    font-variant: small-caps;
    position: relative;
}

.title::before {
    content: "";
    width: 40px;
    height: 0.3rem;
    display: flex;
    background-color: orange;
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    top: 1.7rem;
    bottom: 0;
    z-index: 1;
}

.title::after {
    content: "";
    width: 120px;
    height: 0.1rem;
    display: flex;
    background-color: rgba($color: #000000, $alpha: 0.1);
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    top: 1.7rem;
    bottom: 0;
}

.subtitle {
    display: block;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}